/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: #444;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	padding: 40px 0px;
	text-align: center;
	color: #aaa;
		a {
			color: #aaa;
			text-decoration: none;
		}
}

.site-footer p {
	margin-bottom: 0;
	@include grid-column(2);
}


